<!-- <nav class="navbar navbar-light"> -->
<nav class="Header">
  <div class="navbar-fixed">
    <nav class="white">
      <div class="container">
        <div class="nav-wrapper">
          <a class="left brand-logo nav__logo black-text " ui-sref="app.home">
            <i class="black-text material-icons hide-on-med-and-down">
              broken_image
            </i>
            <div
              class="left brand-logo nav__logo black-text "
              ng-bind="::$ctrl.appName | lowercase"
            >
              Linkpinss
            </div>
          </a>

          <div>
            <ul
              show-authed="false"
              class="right hide-on-med-and-down nav-options-container"
            >
              <li ui-sref-active="active" ui-sref="app.login">
                <a class="black-text"> login </a>
              </li>
              <li ui-sref-active="active" ui-sref="app.register">
                <a class="black-text"> register </a>
              </li>
            </ul>

            <ul show-authed="true" class="right hide-on-med-and-down">
              <li ui-sref-active="active" ui-sref="app.parse">
                <a class="black-text">parse</a>
              </li>
              <li ui-sref-active="active" ui-sref="app.profile">
                <a
                  class="pagenav__option--inline black-text"
                  href="/profile/{{ $ctrl.currentUser.username }}"
                >
                  <i class="large material-icons">perm_identity</i>
                  {{ $ctrl.currentUser.username }}
                </a>
              </li>
              <li ui-sref-active="active" ui-sref="app.settings">
                <a class="pagenav__option--inline black-text" href="/settings"
                  ><i class="large material-icons">settings</i></a
                >
              </li>
              <li>
                <a class="black-text" href="/" ng-click="$ctrl.logout()">
                  logout
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</nav>
