<div>
  <div class="page">
    <div>
      <!-- profile -->
      <div class="container">
        <div class="row">
          <div class="col m8 offset-m2">
            <ul class="collection">
              <li class="collection-item avatar pin-content board__card">
                <div class="board__card__content col m12">
                  <div ng-show="$ctrl.isLoading" class="progress">
                    <div class="indeterminate"></div>
                  </div>

                  <list-errors
                    errors="$ctrl.errors"
                    ng-if="$ctrl.errors"
                  ></list-errors>
                  <div ng-if="$ctrl.userData">
                    <div>
                      <i class="material-icons circle green">person</i>
                      <div class="title board__card__text--short" ng-bind="$ctrl.userData.userName">Username</div>
                      <p class="board__card__text--short" ng-bind="$ctrl.userData.email">Email</p>
                    </div>
                    <div class="board__misc">
                      <span
                        class="board__misc__item--radio_button_unchecked"
                        ng-bind="$ctrl.userData.isOnline ? 'Online' : 'Offline'"
                        >Offline</span
                      >
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- raw view -->
      <!-- <div>{{ $ctrl.userData | json }}</div> -->
    </div>
  </div>
</div>
