<div class="home-page">
  <div className="container">
    <div className="row">
      <div className="col l8 offset-l2 m8 l9 legacy-content">
        <div ng-show="!$ctrl.mainPagePinsLoaded" class="progress">
          <div class="indeterminate"></div>
        </div>
        <!-- <ul className="collection" ng-if="$ctrl.mainPagePinsLoaded">
          <cards items="$crl.mainPagePins"></cards>
        </ul>
      </div>
      <div ng-bind="$crl.mainPagePins | json" ng-if="$ctrl.mainPagePinsLoaded">
        data
      </div> -->
    </div>
  </div>
</div>
